
<div class="container d-flex justify-content-center flex-column">
    <h1 class="text-center">Enter your new password</h1>

    <div class="row justify-content-center">
        <form id="restorePasswordForm" class="col-12 col-md-4 bg-info rounded p-4 shadow">
            <div class="input-group mb-3">
                
                <input type="password" class="form-control" placeholder="password" aria-label="password"
                    aria-describedby="basic-addon1" name="password">
            </div>
            <div class="input-group mb-3">
                
                <input type="password" class="form-control" placeholder="password repeat" aria-label="password-repeat"
                    aria-describedby="basic-addon1" name="passwordRepeat">
            </div>

            <input type="submit" id="submitter" class="btn btn-dark col-md-12">
        </form>
    </div>
    <p id="message" class="h4 text-center text-dark my-5 py-5"></p>
</div>

<script src="/js/restorePassword.js"></script>