<div class="container">
    <h1 class="text-center">
        PREMIUM
    </h1>

    <div class="d-flex justify-content-center gap-5 my-5 py-5">
        <button id="viewP" class="btn btn-success">Ver productos</button>
        <button id="addP" class="btn btn-primary">Agregar producto</button>
        <button id="editP" class="btn btn-info">Editar producto</button>
    </div>

    <div id="dashboard" class="container "></div>
    <div id="container-edit-product" class="container"></div>

    

</div>

<script type="module" src="js/premiumEdit.js"></script>
<script type="module" src="js/premiumAdd.js"></script>
