<div class="container text-center" id="id-container">
    <h1>User: {{user.name}}</h1>
    <h3>email: {{user.email}}</h3>
    <h4>ID: <span id="ID">{{user.id}}</span></h4>
    <button class="btn btn-success my-5" id="btn-change-role">Change role</button>
    <h2 class="text-center h1" >Role: <span id="role">{{user.role}}</span></h2>

</div>

<script src="js/profile.js"></script>